html {
  height: 180vh;
}
body {
  padding: 0;
}
p {
  margin-bottom: 1em;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.hero {
  background: var(--blue);
  padding: 0 32px 64px;
}
.main-content {
  padding: 0 32px;
}
