body{
	height:100vh;
	width:100vw;
	background-image:radial-gradient(rgb(26,26,70), rgb(8,8,36),  rgb(0,0,10));
	margin:0 auto;
	overflow:hidden;
}
.lamp{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	height:300px;
	width:300px;
}
h1{
	font-family: 'Boogaloo';
	text-align:center;
	color:rgba(255,255,255,0.03);
	font-size:4em;
	z-index:-1;
	position:absolute;
	top: 50%;
	left:30%;
	transform:translate(-90%);
}
