canvas {
  position :absolute;
  top : 0px;
  left : 0px;
}
body {
  margin : 0px;

}
.all {
  height: 100%;
  width: 100%;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size : 18px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;

}
